body            { font-family: sans-serif; background: #4CAF45; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: sans-serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.urls        { list-style: none; margin: 0; padding: 0; }
.urls li     { margin: 0.8em 1.2em; }
.urls li h2  { margin-left: -1em; }
.add-url      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-url dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

.logo {width: 200px;, align:right;}
.logo-container {float: right}
.Table
    {
        display: table;
    }

    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }

.Row:nth-child(odd) {
    background-color: #A0CCDA;
    }

    .Row:nth-child(even) {
    background-color: #CECFC7;
    }

    .Row.highlight {
    background-color: #8BBD8B;
    }
    .Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }

