<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel=stylesheet type=text/css href="static/main.css">
</head>
<body>
<h1>  All Grants Currently Available </h1>
<h2> Search</h2><textarea placeholder="Enter search value" id="search"></textarea>


<table id="table">
    <thead></thead>
    <tr>
        <th>Funder</th>
        <th>Programme</th>
        <th>Competition</th>
        <th>Actions</th>
        <th>Overview</th>
        <th>Themes</th>
        <th>Costs</th>
        <th>Opens</th>
        <th>Closes</th>
        <th>MatchFund</th>
    </tr>
    {% for grant in grant_list %}
    <tr>
        <td>{{grant.Funder}}</td>
        <td>{{grant.Programme}}</td>
        <td>{{grant.Competition}}</td>
        <td>{{grant.Actions}}</td>
        <td>{{grant.Overview}}</td>
        <td>{{grant.Themes}}</td>
        <td>{{grant.Costs}}</td>
        <td>{{grant.Opens}}</td>
        <td>{{grant.Closes}}</td>
        <td>{{grant.MatchFund}}</td>
        {% endfor %}
    </tr>
</table>
   <script src="http://code.jquery.com/jquery-2.1.0.js"></script>
   <script type="text/javascript" src="static/filter.js">

    </script>

</body>
</html>


