<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel=stylesheet type=text/css href="static/main.css">
</head>
<body>
<h1>  All Grants Currently Available </h1>
<h2> Search</h2><textarea placeholder="Enter search value" id="search"></textarea>


<table id="table">
    <thead></thead>
    <tr>
        <th>Details</th>
        <th>Overview</th>
        <th>Themes</th>
        <th>MatchFund</th>
    </tr>
    {% for grant in grant_list %}
    <tr>
        <td>
            <b>Funder</b>: {{grant.Funder}}
            <hr>
        <b>Programme:</b>{{grant.Programme}}
            <hr>
        <b>Competition:</b>{{grant.Competition}}
            <hr>
        <b>Actions:</b>{{grant.Actions}}
            <hr>
        <b>Costs:</b> {{ grant.Costs }}
            <hr>
        <b>Opens:</b> {{ grant.Opens }}
            <hr>
        <b>Closes:</b> {{ grant.Closes }}
        </td>
        <td>{{grant.Overview}}</td>
        <td>{{grant.Themes}}</td>
        <td>{{grant.MatchFund}}</td>
        {% endfor %}
    </tr>
</table>
   <script src="http://code.jquery.com/jquery-2.1.0.js"></script>
   <script type="text/javascript" src="static/filter.js">

    </script>

</body>
</html>


