<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
   <link rel=stylesheet type=text/css href="static/main.css">
    <link rel=stylesheet type=text/css href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <link rel="icon"
      type="image/png"
      href="static/favicon.ico">
</head>
<body>
    <h1>  All Grants Currently Available </h1>




    <table id="table" class="filterable">
        <thead>
            <tr>
                {% for header in grant_list[0] %}
                <th> {{ header }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for grant in grant_list[1:] %}
            <tr>
                {% for header in grant_list[0] %}
                     <td>{{ grant[header] }}</td>
                {% endfor %}
            </tr>
        {%  endfor %}
        </tbody>
    </table>

       <script src="http://code.jquery.com/jquery-1.7.0.js"></script>
      <!-- <script type="text/javascript" src="static/filter_old.js"></script> -->
           <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#table').DataTable( {
                "lengthMenu": [ [-1, 10, 25, 50], ["All", 10, 25, 50] ]
            });
        } );
    </script>
</body>
</html>


